{% extends 'partials/base.html' %}  

{% block content%}
        <section class="container d-flex flex-column mt-5">
            <div class="row align-items-center justify-content-center g-0 h-lg-100 py-8">
                <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                    <div class="card shadow">
                        <div class="card-body p-6">
                            <div class="mb-4">
                                <h1 class="mb-1 fw-bold">Login</h1>
                                <span>
                                    Não tem uma conta?
                                    <a href="register.html" class="ms-1"> Cadastre-se </a>
                                </span>
                            </div>
                            <!-- Form -->
                            <form class="needs-validation" method="POST">
                                {% csrf_token %}
                                <!-- Username -->
                                <div class="mb-3">
                                    <label for="email" class="form-label"> Email  </label>
                                    {{form.email}}
                                    <div class="invalid-feedback">Por favor, insira um email válido.</div>
                                </div>
                                <!-- Password -->
                                <div class="mb-3">
                                    <label for="password" class="form-label"> Senha </label>
                                    {{form.password}}
                                    <div class="invalid-feedback">Por favor, insira uma senha válida.</div>
                                </div>
                                <!-- Checkbox -->
                                <div class="d-lg-flex justify-content-between align-items-center mb-4">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="rememberme" required />
                                        <label class="form-check-label" for="rememberme"> Lembre-se de mim! </label>
                                        <div class="invalid-feedback">You must agree before submitting.</div>
                                    </div>
                                    <div>
                                        <a href="forgot-password.html">Esqueceu a senha ?</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Login <i class="fas fa-sign-in-alt"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock content%}

